<!-- prettier-ignore -->
<insert>
  import iconDelete from '../../assets/svg/icons/iconDelete.svg';
  import iconUse from '../../assets/svg/icons/iconUse.svg';
  import { getRouter } from '@uixjs/router';
</insert>

<link rel="stylesheet" href="./addItem.style.scss" scoped />

<if _="$.productDetails == null"> Loading... </if>
<else>
  <div class="product-info">
    <div class="product-image" #backgroundImage="`url('${ $.productDetails?.imageSrc }')`"></div>
    <h2 class="product-name">${ $.productDetails?.name }</h2>
  </div>

  <div class="product-input">
    <input type="date" placeholder="Expiration Date" attr:min="$.minDate" :value!="$.expirationDateInput" />

    <div class="price-container">
      <input type="number" step="0.01" placeholder="Price" :value!="$.priceInput" />
      <p>лв.</p>
    </div>
  </div>

  <div class="add-product-buttons">
    <div class="used" @click="$.addProduct()">
      <img attr:src="iconUse" class="tick" />
      Add
    </div>

    <div class="delete" @click="getRouter($.context).goto({ route: 'products' })">
      <img attr:src="iconDelete" class="bin" />
      Close
    </div>
  </div>
</else>
