<!-- prettier-ignore -->
<insert>
  import foodyLogo from "../../assets/svg/foodyLogo.svg";
  import { getRouter } from '@uixjs/router';
</insert>

<link rel="stylesheet" href="./login.style.scss" scoped />

<div class="login-logo-group">
  <img attr:src="foodyLogo" />
  <p>Welcome back</p>
</div>

<div class="login-form-container">
  <div class="login-form-fields">
    <input type="email" placeholder="Email" :value!="$.formData.email" />
    <input type="password" placeholder="Password" :value!="$.formData.password" />
  </div>

  <div class="login-form-redirection">
    <p>Don't have an account?</p>
    <a @click!="getRouter($.context).goto({ route: 'register' })">Sign Up</a>
  </div>
</div>

<a class="login-button" @click!="$.login()"> ${ $.loginLoader.loading ? '...' : 'Sign In' } </a>
